.intro {
    background-color: white;
    display: flex;


    .left{
        flex: 0.5;
        

        .imgContainer{
            width: 900px;
            height: 900px;
            background-color: #48CFE0;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;

            .img{
                height: 90%;
            }
        }
    }

    .right{
        flex: 0.5;
        background-color:yellow;
    }

}
   